.leftContainer {
  border-radius: 10px;
  border: 1px solid black;
  width: 550px;
  /* padding: 40px 80px 40px 80px; */
}

@media (max-width: 425px) {
  .leftContainer {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
  }
}
